# Server Port Configuration
PORT=5001

# API Key security token to prevent unauthorized access.
# Make sure to set the exact same API_KEY here on Render and on your Vercel project setting (WHATSAPP_SERVICE_KEY).
API_KEY=Vikirthan@WhatsApp2026
